.inner {
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Sans-Serif;
    padding: 1em;
    color: #333333;
    background-color: #fff;
    padding-bottom: 4em;
}

a:link { color: orange; }
a:visited { color: orange; }
a:hover { color: orange; }
a:active { color: orange; }
a { text-decoration: none; }

a.post-title { color: #333333; }


blockquote {
    background-color: #D3D3D3;
}

header, article, footer {
    margin: 0 auto;
    width: 70%;
    max-width: 780px;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    padding: 1em 4em;
    margin-bottom: 1em;
    background-color: white;
}

footer {
    background-image: url('../images/wavegrid.png')
 }

 pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #eeeeee;
 }
