.inner {
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Sans-Serif;
    padding: 1em;
    color: #333333;
    background-color: #fff;
    padding-bottom: 4em;
}

a:link { color: orange; }
a:visited { color: orange; }
a:hover { color: orange; }
a:active { color: orange; }
a { text-decoration: none; }

a.post-title { color: #333333; }
a.post-title:hover { color: orange; }

h1.blog-title {text-decoration:none;}
h1 {text-decoration: underline;}


blockquote {
    background-color: #D3D3D3;
}

header, article, footer {
    margin: 0 auto;
    width: 70%;
    max-width: 780px;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    padding: 1em 4em;
    margin-bottom: 1em;
    background-color: white;
}

footer {
    background-image: url('../images/wavegrid.png')
 }

 pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: #eeeeee;
 }

.text, .text-loose, .control-label, .controls .textinput, .controls .datetimeinput, .controls .dateinput, .controls .checkboxinput, .controls .textarea, .controls .select, .change-src, .change-dest {
  font-size: 15px;
  color: black;
  font-weight: 300;
  line-height: 1.45;
}

.text-sm, .nav > li > a, .nav > li > p, #hierarchial-nav, .section a.content p, .tab-nav-group li a, .preview-table p, .list-table td, .list-table th, .alert-block, .controls .help-block {
  font-size: 13px;
  color: #333333;
  font-weight: 300;
  line-height: 1.45;
}

.text-xs, .list-table thead tr th, .list-table tbody td .status-label {
  font-size: 11px;
  color: #666666;
  font-weight: 300;
  line-height: 1.45;
}

.text-loose {
  line-height: 1.7em;
}

a.text, a.text-loose, a.control-label, .controls a.textinput, .controls a.datetimeinput, .controls a.dateinput, .controls a.checkboxinput, .controls a.textarea, .controls a.select, a.change-src, a.change-dest {
  color: #3366ff;
}

a.text-lg {
  color: #3366ff;
}
