<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/assets/css/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  <title>{{ page.title }}</title>
</head>
<body>
<header role='banner'>
    <h1>包丁一本さらしに巻いて</h1>
    <nav role='navigation'>
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li class="pure-menu-selected"><a href="/">Top</a></li>
                <li class="pure-menu-selected"><a href="/about.html">About</a></li>
                <li class="pure-menu-selected"><a href="/feed.xml">Feed</a></li>
            </ul>
        </div>
    </nav>
</header>
<article>
    {{ content }}
</article>
<footer>
</footer>
</body>
